body {
  font-family: sans-serif;
  line-height: 1.6em;
}

img.floating-head-hand {
  display: none;
}

a.fork-me {
  /* display:none; */
}

div.face {
  float: left;
  margin-left: 100px;
  margin-top: 80px;
}

div.face :hover{
  /* cursor: pointer; */
}

span.floating-head {
  position: relative;
}

div#main-container {
  width: 46%
  float: left;
}

div.projects {
  float: left;
  margin-left: 3em;
}

div.projects li {
  margin-bottom: 1em;
  margin-left: 1em;
  list-style: none;
}

div.projects li a {
  margin-left: 1em;
}

div.main-menu {
  float: right;
  width: 25%;
}

div.main-menu li {
  font-size: 1.7em;
  font-weight: bold;
  color: #FFFFFF;
  padding: 1em;
  margin: .1em;
  list-style: none;
  background-color: #AC2832;
}

div.main-menu li:hover {
  list-style: none;
  background-color: #DFD297;
  cursor: pointer;
}

div.main-menu a {
  text-decoration: none;
  color: #ffffff;
}

div.main-menu a:visited {
  color: #ffffff;
}