body {
  font-family: sans-serif;
  line-height: 1.6em;
}

img.floating-head-hand {
  display: none;
}

a.fork-me {
  display:none;
}

div.face {
  float: left;
  margin-left: 100px;
  margin-top: 80px;
}

div.face :hover{
  cursor: pointer;
}

span.floating-head {
  position: relative;
}

div.projects {
  float: left;
  margin-left: 3em;
  width: 25%
}

div.projects li {
  margin-bottom: 1em;
  margin-left: 1em;
  list-style: none;
}

div.projects li a {
  margin-left: 1em;
}