html {
  font-family: lucida grande;
  height: 98%;
}

body {
  margin: 1em;
  display: none;
  height: 99%;
}

h1 {
  margin-bottom: 0;
}

h3.vehicles {
  display: inline;
}

.header {
  float: left;
  width: 100%;
  margin: 0em 1em 1em 0em;
  padding-bottom: 1em;
  border-bottom: solid gray;
}

.toolbar {
  float: left;
  min-width: 250px;
  width: 15%;
  height: 75%;
  padding-right: 1em;
  border-right: solid gray;
}

.vehicle {
  border-bottom: thin gray;
}

ul.vehicles {
  margin-bottom: 1em;
}

input.name {
  width: 90%;
}
