html {
  font-family: lucida grande;
  height: 98%;
}

body {
  margin: 1em;
  padding-bottom: 1em;
  height: 90%;
}

h1 {
  margin-bottom: 0;
}

h3 {
  margin: 0;
  display: inline;
}


input {
  display: block;
  width: 90%;
}

.header {
  float: left;
  width: 100%;
  margin: 0em 1em 1em 0em;
  padding-bottom: 1em;
  border-bottom: solid gray;
}

.panel {
  float: left;
  padding-right: 1em;
  max-width: 98%;
  min-width: 275px;
}

li.menu {
  border-bottom: dashed gray 1px;
  padding: .55em 0 .15em 0;
  margin: .15em 0 0 0;
  list-style-type: none;
  min-width: 275px;
  height: 1.5em;
  display: block;
}

li.menu:hover .del {
  display: block;
}

ul.each_vehicle {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0;
}

ul.log {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0;
}

span.menu {
  float: left;
  width: 90%;
}

span.menu:hover {
  cursor: pointer;
}

span.del {
  float: right;
  display: none;
}

span.del:hover {
  cursor: pointer;
}

div#dialog {
  display: none;
}

span.show_hide {
  background-color: #E0E0E0;
  display:inline-block;
  line-height:3px;
  padding: 0 3px 7px 3px;
}

span.show_hide:hover {
  background-color: #C0C0C0;
  cursor: pointer;
}

div.view_container {
  display: inline-block;
  width: 100%;
}
