html {
  font-family: lucida grande;
  height: 98%;
}

body {
  margin: 1em;
  padding-bottom: 1em;
  height: 90%;
}

h1 {
  margin-bottom: 0;
}

h2.vehicle_name {
  margin-top: 0;
}

h3.vehicles {
  display: inline;
}

.header {
  float: left;
  width: 100%;
  margin: 0em 1em 1em 0em;
  padding-bottom: 1em;
  border-bottom: solid gray;
}

.toolbar {
  float: left;
  min-width: 250px;
  width: 15%;
  padding-right: 1em;
  border-right: solid gray;
}

li.vehicle {
  border-bottom: dashed gray 1px;
  padding: .15em 0 .15em 0;
  margin: .15em 0 .15em 0;
  list-style-type: none;
  width: 100%;
  float:left;
}

.vehicles li:hover .del {
  display: block;
}

ul.each_vehicle {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0;
}

input.name {
  width: 90%;
  margin-top: 2em;
}

button.add_vehicle {
  margin-bottom: 2em;
}

span.vehicle_name {
  float: left;
  width: 90%;
}

span.vehicle_name:hover {
  cursor: pointer;
}

span.del {
  float: right;
  display: none;
}

span.del:hover {
  cursor: pointer;
}

div.new_vehicle {
  margin-top: 1em;
}

div#dialog {
  display: none;
}

.center_container {
  float: left;
  margin: 0 0 0 1em;
}